<div class="action-container">
  <app-action icon="flag" text="Goal Setter" navigateTo="goal-setter" longText="
    Plan your monthly investments, track your progress, and stay on top of your financial goals. Get personalized suggestions for the best financial instruments to help you achieve your target faster.
  "></app-action>
  <app-action icon="calendar_today" text="Trade Calendar" navigateTo="trade-calendar" longText="
  Organize your trading schedule with a personalized calendar to track events, set alerts, and monitor daily P&L. Stay informed with global events and tailored research recommendations to optimize your trades.
"></app-action>
  <app-action icon="replay" text="Trade Replay" navigateTo="trade-replay" longText="Analyze your trading strategies with actionable insights to identify what works best for you. Receive personalized recommendations tailored to your trading patterns and preferences."></app-action>
</div>
